
body {
    background: rgb(116,120,124);
    background: radial-gradient(circle, rgba(116,120,124,1) 13%, rgba(44,62,75,1) 50%, rgba(0,0,0,1) 79%);
    width: 80%;
}

.chatbox{
    height: 100%;
    width: 100%;
}

h1 {
    width: auto;
    color: white;
    margin-bottom: 5px;
    font-size: 20pt;
    text-align: center;
}

ul {
    padding-left: 10px;
    height: 80%;
    width: auto;
    border: 3px solid red;
    background-image: url(boxxy-8755-2560x1600.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    overflow-y:auto;
}

li {
    list-style-type: none;
    word-wrap: normal;
    margin-top: 10px;
    color: white;
    font-size: 16pt;
}

.submitButton {
    margin-top: 0px;
    height: 4%;
    width: auto;
    border: 3px solid white;
}

.input {
    width: 95%;
    height: 100%;
}

.addButton {
    height: 100%;
    width: 5%;
}

.users {
    margin: 0px;
    width: 10%;
    position: absolute;
    left: 35%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20pt;
    border: 3px solid white;
}

.bot {
    font-weight: bold;
    color: yellow;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    margin-left: 25%;
}

.joinInnerContainer {
    width: 20%;
}

.heading {
    color: white;
    font-size: 20pt;
}